<div class="single-cost">
  <div class="cost-name" data-cost-id="<%= cost.id %>"><%= cost.name %></div>
  <div class="cost-cost"><%= cost.cost %></div>
  <div class="cost-del"><%= link_to "<span class='icon icon-del fa fa-times'></span>".html_safe, 'javascript: void(0);', class: 'del-cost' %></div>
  <br />
</div>
