<div class="single-cost">
  <div class="cost-name" data-cost-id="<%= cost.id %>"><%= text_field_tag :cost_name, cost.name, disabled: true %></div>
  <div class="cost-cost"><%= text_field_tag :cost_cost, cost.cost, disabled: true %></div>
  <div class="cost-del"><%= link_to "<span class='icon icon-del fa fa-times'></span>".html_safe, 'javascript: void(0);', class: 'del-cost' %></div>
  <br />
</div>
