<% if @issue.persisted? && @issue.budget? %>
  <hr />
  <div class="issue-additional-costs" data-issue-id="<%= @issue.id %>">
    <h6>Additional costs</h6>
    <% @issue.additional_costs.each do |cost| %>
      <%= render partial: 'additional_costs/cost', locals: { cost: cost } %>
    <% end %>

    <%= render partial: 'additional_costs/form' %>
  </div>
<% end %>
