<% if @issue.persisted? && @issue.budget? %>
  <hr />
  <div class="issue-additional-costs" data-issue-id="<%= @issue.id %>">
    <h6>Additional costs</h6>
    <% @issue.additional_costs.each do |cost| %>
      <%= render partial: 'additional_costs/cost', locals: { cost: cost } %>
    <% end %>
  </div>
<% end %>

<%= render partial: 'additional_costs/form' %>

<%# content_for :header_tags do %>
  <%#= javascript_include_tag 'additional_costs', plugin: 'redmine_budget' %>
  <%#= stylesheet_link_tag 'additional_costs', plugin: 'redmine_budget' %>
<%# end %>
