<table class="attributes redmine_budget_frontend" data-estimated-hours="<%= @issue.estimated_hours %>" data-budget="<%= @issue.budget %>" data-cost-per-hour="50">
	<tbody>
		<tr>
			<th class="burned">Burned:</th>
			<td class="burned"></td>
			<th class="score">Score:</th>
			<td class="score"></td>
		</tr>
		<tr>
			<th class="profit">Profit:</th>
			<td class="profit"></td>
			<th class=""></th>
			<td class=""></td>
		</tr>
	</tbody>
</table>