<% html_title l(:budget_title) %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'jquery-throttle.min.js', 'budget_helper', 'budget', :plugin => 'redmine_budget' %>
  <%= stylesheet_link_tag 'budget', :plugin => 'redmine_budget' %>
<% end %>

<div class="redmine_budget">
	<div class="estimation">
		<h2>Szacowanie budżetu</h2>
		<table border="1">
			<tr class="header">
				<th>Ilosć godzin</th>
				<th>Stawka</th>
				<th>Koszt pracy</th>
				<th>Dolne widełki</th>
				<th>Potrzebny budżet</th>
				<th>Górne widełki</th>
			</tr>
			<tr class="row">
				<td><input type="number" name="estimation[][hours]" value="1"></td>
				<td><input type="number" name="estimation[][rate]" value="<%= @settings[:default_rate] %>"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="row">
				<td><input type="number" name="estimation[][hours]" value="10"></td>
				<td><input type="number" name="estimation[][rate]" value="<%= @settings[:default_rate] %>"></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>