.issue-additional-costs .cost-name,
.issue-additional-costs .cost-cost {
  border: 1px solid #e6eaef;
  background: #fff;
  min-width: 110px;
  max-width: 360px;
  display: inline-block;
  height: 29.25px;
  padding: 0 9.75px;
  color: #555;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
}

.issue-additional-costs .cost-del {
  display: inline-block;
}
