/* line 2, additional_costs.sass */
.issue-additional-costs .cost-name,
.issue-additional-costs .cost-cost {
  min-width: 110px;
  max-width: 360px;
  display: inline-block;
  color: #555555;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
}
/* line 11, additional_costs.sass */
.issue-additional-costs .cost-del {
  display: inline-block;
}
